*{
    margin: 0;
    padding: 0;
}

.wrap{
    max-width: 800px;
    margin: 0 auto;
    /* border: 1px solid green; */
}

/* Heading section */
.heading-section{
    width: 300px;
    height: 120px;
    margin: 0 auto;
    border: 1px solid skyblue;
}

.heading{
    font-family: Georgia, 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    color: white;

    text-align: center;
    text-transform: lowercase;
    
    height: 35%;
    padding-top: 6px;
    margin-top: 60px;
    background-color: skyblue;
    border: 1px solid skyblue;
}

.heading .math, .heading .wordhub{
    height: 35%;
    padding: 6px 0 6px 6px;
}

.heading .math{
    background-color: #1f233e;
    border-radius: 2px;
}

.heading .wordhub{
    text-decoration-color: white;
    /* text-decoration-line: overline; */
}
/* Heading section end */

/* Search section */
.search-section{
    display: flex;
    margin-top: 5px;
    /* border: 1px solid orange; */
}

.search-box, .search-list{
    flex: 1;
    padding: 5px;
}

.search-box input{
    display: block;
    width: 270px;
    height: 40px;

    color: white;
    font-size: 1rem;
    text-align: center;

    border: 1px solid #1f233e;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);

    margin: 5px;
}

.search-box p{
    color: white;
    font-size: 1.1rem;
    text-transform: lowercase;
    margin-left: 10px;
    margin-top: 2px;
}

.search-box button{
    height: 40px;
    margin: 5px 0 10px 10px;
    padding: 7px;
    background-color: #1f233e;
    color: white;
    font-size: 1.1rem;
    border: 1px solid #1f233e;
    border-radius: 4px;
}

.search-box button a{
    color: white;
    text-decoration: none;
}

.search-list{
    width: 60%;
    max-width: 300px;
    height: 160px;

    margin: 20px;
    overflow: auto;

    background-color: #1f233e;
    /* border: 1px solid white; */
    border-radius: 4px;
}

.search-list .list .list-item{
   padding: 3px;
   list-style: none;
}

.search-list .list .list-item a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.search-list .list .list-item a:hover{
    color: grey;
}

/* Search section end */

/* Display section */
.display-section{
    margin-top: 10px;
    padding: 10px;
}

.definition-segment, .example-segment{
    width: 90%;
    padding: 10px;
    margin: 0 auto;

    color: white;
    font-style: 18px;
    line-height: 1.5em;

    background-color: #1f233e;
    border: 1px solid white;
}

.definition-segment{
    height: 200px;
}

.example-segment{
    height: 250px;
    border-top: none;
}

.definition-segment p:nth-child(1){
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: white;
}
/* Display section end */

@media screen and (max-width: 768px) {
    .search-section{
        display: flex;
        flex-flow: column;
    }

    .search-box, .search-list{
        margin: 0 auto;
    }

    .search-list .list{
        height: 150px;
        overflow: auto;
    }
}