<!-- 
    Math WordHub
    created by Matthew Rungwe
 -->
<div class="wrap">
    <section class="heading-section">
        <h1 class="heading">
            <span class="math">Math</span>
            <span class="wordhub">WordHub</span>
        </h1>
    </section>
    
    <section class="search-section">
        <div class="search-box">
            <p>
                <em>Enter your phrase and search</em>
            </p>
    
            <!-- ngModel: two way binding.-->
            <label for="phrase"></label>
            <input id="phrase" type="text" name="phrase" 
                   [(ngModel)]='searchPhrase'
                   placeholder="search phrase"
                   autofocus required>
    
            <!-- (--event--): event binding. Listens to the event-->
            <button (click)='buttonOnCLick()'>
                <a href="#display">Search</a>
            </button>
        </div>
    
        <div class="search-list">
            <ul class="list">
                <li class="list-item" *ngFor='let word of sortedDictionary'>
                    <p (click)='listItemSearch(word.word)'>{{word.word}}</p>
                </li>
            </ul>
        </div>
    </section>
    
    <section id="display" class="display-section">
        <div class="definition-segment">
            <p>{{wordName}}</p>
            <p>{{wordDescription}}</p>
            <p>{{wordSynonyms}}</p>
        </div>
    
        <div class="example-segment" *ngIf='wordExample'>
            <p [innerHTML]="wordExample | convertToNewline: '**/'"></p>
        </div>
    </section>
</div>